# Ignore virtual environment
venv_tf/
__pycache__/
*.pyc

# Ignore model weights
*.h5

# Ignore large datasets (optional)
data/
models/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
